.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-family: sans-serif;
	line-height: normal;
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	transition: all 0.1s linear 0s;
	text-decoration: none;
	background-color: #0064cd;
	background-image: -moz-linear-gradient(center top, #049cdb, #0064cd);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn:hover {
	background-position: 0 -15px;
}

body {
	padding: 10px;
}

#testcase-feedback {
	margin: 15px;
}

span.actual.output:empty:before {
	content: ' ';
}